.container_metas {
    .title_metas {
        padding: 40px 24px 24px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 24.51px;
        h2 {
            margin: 0;
            font-size: 18px;
            font-weight: 600;
            line-height: 24.51px;
            color: #58506b;
        }
        .icon_add {
            color: #54d1ed;
        }
    }
    .card_meta {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        color: #817699;
        .meta {
            box-sizing: border-box;
            width: 158px;
            height: 202px;
            background: #ffffff;
            box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
            border-radius: 20px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            .info_meta {
                padding: 20px;
                display: flex;
                flex-flow: column wrap;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                p {
                    margin: 0;
                    padding-top: 10px;
                }
            }
            .info_value {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0 20px;
                p {
                    margin: 0;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 14px;
                    letter-spacing: -0.03em;
                }
                .value_ahorro {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    color: #54d1ed;
                }
            }
        }
    }
}
